/* Formularios */

form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    label {
        display: inline-block;
        margin: 0 0 10px 5px;
    }

    input,
    textarea {
        border: solid 1px rgba(0, 0, 0, 0.1);
        padding: 10px 15px;
        margin-bottom: 10px;
        font-size: 1rem;
        border-radius: 0.5rem;
    }

    select {
        appearance: none;

        display: block;
        border: solid 1px rgba(0, 0, 0, 0.1);
        padding: 10px 15px;
        margin-bottom: 10px;
        font-size: 1rem;
        border-radius: 0.5rem;

        background-color: #fff !important;
        background-image: url(../../images/icons/chevron-down-solid.svg);
        background-repeat: no-repeat;
        background-position: right 15px center;
        background-size: 16px auto;
    }

    .radio,
    .check {
        display: flex;

        input[type="radio"],
        input[type="checkbox"] {
            vertical-align: top;
        }
    }

    input[type="range"] {
        appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 0.5rem;
        background-image: linear-gradient(to left, $color-momo, white);
        background-repeat: no-repeat;
    }
}