/* Columnas */

@import 'variables';
@import 'mixins';

.space-between {
    justify-content: space-between;
}

.fila {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    // padding: 0;

    .col {
        flex: 1 0 0%;
        @include gutters(12);
    }

    .offset {
        flex: 1 0 0%;
        @include gutters(12);
    }

    @for $columna from 1 through 12 {
        .col-#{$columna} {
            @include columnas-bp($columna);
        }
    }

    @for $columna from 1 through 12 {
        @media (min-width: $screen-sm-min) {
            .col-sm-#{$columna} {
                @include columnas-bp($columna);
            }
        }
    }

    @for $columna from 1 through 12 {
        @media (min-width: $screen-md-min) {
            .col-md-#{$columna} {
                @include columnas-bp($columna);
            }
        }
    }

    @for $columna from 1 through 12 {
        @media (min-width: $screen-lg-min) {
            .col-lg-#{$columna} {
                @include columnas-bp($columna);
            }
        }
    }

    @for $columna from 1 through 12 {
        @media (min-width: $screen-xl-min) {
            .col-xl-#{$columna} {
                @include columnas-bp($columna);
            }
        }
    }

    @for $columna from 1 through 12 {
        @media (min-width: $screen-xxl-min) {
            .col-xxl-#{$columna} {
                @include columnas-bp($columna);
            }
        }
    }

    @for $offset from 2 through 12 {
        @media (min-width: $screen-sm-min) {
            .offset-sm-#{$offset} {
                @include offset-bp($offset);
            }
        }
    }

    @for $offset from 2 through 12 {
        @media (min-width: $screen-md-min) {
            .offset-md-#{$offset} {
                @include offset-bp($offset);
            }
        }
    }

    @for $offset from 2 through 12 {
        @media (min-width: $screen-lg-min) {
            .offset-lg-#{$offset} {
                @include offset-bp($offset);
            }
        }
    }

    @for $offset from 2 through 12 {
        @media (min-width: $screen-xl-min) {
            .offset-xl-#{$offset} {
                @include offset-bp($offset);
            }
        }
    }

    @for $offset from 2 through 12 {
        @media (min-width: $screen-xxl-min) {
            .offset-xxl-#{$offset} {
                @include offset-bp($offset);
            }
        }
    }

    .no-gutters {
        padding: 0 !important;

        &:first-child {
            padding: 0 !important;
        }

        &:last-child {
            padding: 0 !important;
        }
    }
}