@import 'variables';
@import 'mixins';

.tarjeta {
    @include tarjeta();
}

@each $tema,
$color,
$contraste,
$gradiente in $temas {
    .tarjeta-#{$tema} {
        @include tarjeta($color, $contraste, $color, 0);
    }

    .tarjeta-#{$tema}-gradiente {
        @include tarjeta($gradiente, $contraste, $color, 0);
    }

    .tarjeta-#{$tema}-borde {
        @include tarjeta(#FFF, $color, $color, 3px);
    }

    .tarjeta-grupo {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: $screen-sm-min) {

            .tarjeta-#{$tema},
            .tarjeta,
            .tarjeta-#{$tema}-gradiente {
                flex: none;
                width: 100% !important;
            }
        }

        @media (min-width: $screen-lg-min) {

            .tarjeta-#{$tema},
            .tarjeta,
            .tarjeta-#{$tema}-gradiente {
                flex: 1 0 0%;
                width: auto !important;
            }
        }
    }

    .tarjeta-grupo-auto {
        display: flex;
        flex-wrap: wrap;

        .tarjeta-#{$tema},
        .tarjeta,
        .tarjeta-#{$tema}-gradiente {
            flex: auto;
            width: 100% !important;
            height: auto;
        }

        @media (min-width: $screen-lg-min) {

            flex-wrap: nowrap;

            .tarjeta-#{$tema},
            .tarjeta,
            .tarjeta-#{$tema}-gradiente {
                flex: auto;
                width: auto !important;
                height: auto;
            }
        }
    }

    @for $margin from 1 through 6 {
        .g-#{$margin} {

            .tarjeta-#{$tema},
            .tarjeta,
            .tarjeta-#{$tema}-gradiente {

                margin-top: #{(calc($margin / 2))}rem;
                margin-bottom: #{(calc($margin / 2))}rem;

                &:first-child {
                    margin-left: 0 !important;
                }

                &:last-child {
                    margin-right: 0 !important;
                }

                @for $tarjetas from 1 through 12 {
                    &:nth-child(#{$tarjetas}) {
                        margin-left: #{(calc($margin / 2))}rem !important;
                        margin-right: #{(calc($margin / 2))}rem !important;
                    }
                }

            }

            @media (min-width: $screen-lg-min) {

                .tarjeta-#{$tema},
                .tarjeta,
                .tarjeta-#{$tema}-gradiente {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

        }
    }
}