/* Temas */

@import 'variables';
@import 'mixins';

@each $tema,
$color,
$contraste,
$gradiente in $temas {

    .texto-#{$tema} {
        color: $color;
    }

    .bg-#{$tema} {
        background-color: $color;
    }

    .bg-#{$tema}-gradiente {
        background-image: $gradiente;
    }

    .tema-#{$tema} {
        @include color-tema($tema);
    }

    .btn-#{$tema} {
        @include btn($tema);
    }

    .blur-#{$tema} {
        @include blur($tema);
        backdrop-filter: blur(20px) saturate(180%);
    }

    .btn-grupo {
        @for $boton from 1 through 12 {
            @include btn-grupos($boton, $tema);
        }
    }
}

.btn-grupo {
    display: inline-block;
    width: auto;
    height: auto;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}