@mixin btn($color-tema) {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);

    @each $tema,
    $color,
    $contraste in $temas {
        @if $color-tema==$tema {
            background-color: $color;
            color: $contraste;
            text-decoration: none;
            text-align: center;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            border: none;
            font-size: 1rem;
            margin: 0;
            display: inline-block;
            cursor: pointer;

            &:hover {
                background-color: #{$color}AA;
                color: $contraste;
                //opacity: 0.8;
            }
        }
    }
}

@mixin btn-grupos($btn, $tema) {
    & .btn-#{$tema}:nth-child(#{$btn}) {
        border-radius: 0;
        margin-left: -5px;
        box-shadow: none;
    }

    @if $btn < 2 {
        & .btn-#{$tema}:first-child {
            border-radius: 0.5rem 0 0 0.5rem !important;
            box-shadow: none;
            margin-left: 0;
        }

        & .btn-#{$tema}:last-child {
            border-radius: 0 0.5rem 0.5rem 0 !important;
            box-shadow: none;
        }
    }
}