/* Margen y Relleno */

@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
    @if $top != null {
        padding-top: $top;
    }
    @if $right != null {
        padding-right: $right;
    }
    @if $bottom != null {
        padding-bottom: $bottom;
    }
    @if $left != null {
        padding-left: $left;
    }
}

@mixin paddingN($top: null, $right: null, $bottom: null, $left: null) {
    @if $top != null {
        padding-top: -#{$top};
    }
    @if $right != null {
        padding-right: -#{$right};
    }
    @if $bottom != null {
        padding-bottom: -#{$bottom};
    }
    @if $left != null {
        padding-left: -#{$left};
    }
}

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
    @if $top != null {
        margin-top: $top;
    }
    @if $right != null {
        margin-right: $right;
    }
    @if $bottom != null {
        margin-bottom: $bottom;
    }
    @if $left != null {
        margin-left: $left;
    }
}

@mixin marginN($top: null, $right: null, $bottom: null, $left: null) {
    @if $top != null {
        margin-top: -#{$top};
    }
    @if $right != null {
        margin-right: -#{$right};
    }
    @if $bottom != null {
        margin-bottom: -#{$bottom};
    }
    @if $left != null {
        margin-left: -#{$left};
    }
}

@each $un, $value in $unidades{
    // margin

    .m-#{$un}{
        @include margin(#{$value} !important, #{$value} !important, #{$value} !important, #{$value} !important);
    }

    .mt-#{$un} {
        @include margin($value !important, null, null, null);
    }

    .mr-#{$un} {
        @include margin(null, $value !important, null, null);
    }

    .mb-#{$un} {
        @include margin(null, null, $value !important, null);
    }

    .ml-#{$un} {
        @include margin(null, null, null, $value !important);
    }

    .mx-#{$un} {
        @include margin(null, $value !important, null, $value !important);
    }

    .my-#{$un} {
        @include margin($value !important, null, $value !important, null);
    }

    // padding
    .p-#{$un}{
        @include padding(#{$value} !important, #{$value} !important, #{$value} !important, #{$value} !important);
    }

    .pt-#{$un} {
        @include padding($value !important, null, null, null);
    }

    .pr-#{$un} {
        @include padding(null, $value !important, null, null);
    }

    .pb-#{$un} {
        @include padding(null, null, $value !important, null);
    }

    .pl-#{$un} {
        @include padding(null, null, null, $value !important);
    }

    .px-#{$un} {
        @include padding(null, $value !important, null, $value !important);
    }

    .py-#{$un} {
        @include padding($value !important, null, $value !important, null);
    }
}