/* Tarjetas */

@mixin tarjeta($bgcolor: #e4e4e4, $color: $color-oscuro, $border: #e4e4e4, $border-width: 0) {
    width: 100%;
    height: auto;
    min-height: 50px;

    padding: 2em;
    border-radius: 0.5rem;
    border: solid #{$border-width} #{$border};

    @if($border-width==3px) {
        box-shadow: none;
    }

    @else {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    }

    background-color: $bgcolor;
    background-image: $bgcolor;

    @if($bgcolor==#FFF) {
        color: var(--oscuro-10);
    }

    @else {
        color: $color;
    }


    position: relative;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0.5rem;
    }

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        margin: 0 0 1rem 0;
        border-radius: 0.5rem;
    }

    a,
    a:visited,
    a:focus,
    a:link {
        text-decoration: none;
        color: $color;

        &:hover {
            opacity: 0.7;
        }
    }

    .pie-tarjeta {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: absolute;
        width: 100%;
        height: auto;

        padding: 1rem 2rem;

        bottom: 0;
        left: 0;

        font-size: 0.9rem;

        @if($bgcolor==#FFF) {
            background-color: rgba(0, 0, 0, 0.1);
        }

        @else {
            background-color: rgba(255, 255, 255, 0.3);
        }

        a,
        a:visited,
        a:focus,
        a:link {
            text-decoration: none;

            @if($bgcolor==#FFF) {
                color: var(--oscuro-10);
            }

            @else {
                color: $color;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

.tarjeta {
    @include tarjeta();
}

@each $tema,
$color,
$contraste,
$gradiente in $temas {
    .tarjeta-#{$tema} {
        @include tarjeta($color, $contraste, $color, 0);
    }

    .tarjeta-#{$tema}-gradiente {
        @include tarjeta($gradiente, $contraste, $color, 0);
    }

    .tarjeta-#{$tema}-borde {
        @include tarjeta(#FFF, $color, $color, 3px);
    }

    .tarjeta-grupo {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: $screen-sm-min) {

            .tarjeta-#{$tema},
            .tarjeta,
            .tarjeta-#{$tema}-gradiente {
                flex: none;
                width: 100% !important;
            }
        }

        @media (min-width: $screen-lg-min) {

            .tarjeta-#{$tema},
            .tarjeta,
            .tarjeta-#{$tema}-gradiente {
                flex: 1 0 0%;
                width: auto !important;
            }
        }
    }

    .tarjeta-grupo-auto {
        display: flex;
        flex-wrap: wrap;

        .tarjeta-#{$tema},
        .tarjeta,
        .tarjeta-#{$tema}-gradiente {
            flex: auto;
            width: 100% !important;
            height: auto;
        }

        @media (min-width: $screen-lg-min) {

            flex-wrap: nowrap;

            .tarjeta-#{$tema},
            .tarjeta,
            .tarjeta-#{$tema}-gradiente {
                flex: auto;
                width: auto !important;
                height: auto;
            }
        }
    }

    @for $margin from 1 through 6 {
        .g-#{$margin} {

            .tarjeta-#{$tema},
            .tarjeta,
            .tarjeta-#{$tema}-gradiente {

                margin-top: #{(calc($margin / 2))}rem;
                margin-bottom: #{(calc($margin / 2))}rem;

                &:first-child {
                    margin-left: 0 !important;
                }

                &:last-child {
                    margin-right: 0 !important;
                }

                @for $tarjetas from 1 through 12 {
                    &:nth-child(#{$tarjetas}) {
                        margin-left: #{(calc($margin / 2))}rem !important;
                        margin-right: #{(calc($margin / 2))}rem !important;
                    }
                }

            }

            @media (min-width: $screen-lg-min) {

                .tarjeta-#{$tema},
                .tarjeta,
                .tarjeta-#{$tema}-gradiente {
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

        }
    }
}